// Specific CSS for your home-page

html {
  scroll-behavior: smooth;
}

body {
  background-color: white;
}
.wrapper {
 max-width: 800px;
 width:100%;
 margin: 0 auto;
}
.manifest {
  margin: 64px auto;
  text-align: justify;

  p {
    text-align: justify;
    font-size: 20px;
  }

  span{
    font-size: 30px;
    font-weight: 700;
    color: #B2677D;
    text-transform: uppercase;
  }
}

.about-us {
  margin: 32px auto;
  padding-top: 85px;
  h2 {
    color: #B2677D;
    text-align: center;
    margin: 40px;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1px;
    margin-top: 10px;
  }
}

.profile {
  .photo-1 {
    width: 100%;
    height: 210px;
    object-fit: cover;

  }

  p {
    text-align: justify;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  a {
    text-decoration: none;
    color:#B2677D;
    cursor: pointer;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;

  }
}

.scrolllUp {
  text-align: right;
  padding: 20px;
  margin-left: 20px;
  a {
    text-decoration: none;
    color: #B2677D;
    :hover {
      color: #842B45;
    }
  }
  .fas {
    font-size: 40px;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media (max-width: 768px) {
  .wrapper {
    padding: 20px;
  }
}

