
<div class="container">
  <div class="main-content">
    <div class="row">
      <div class="col-sm-6">
        <h1>Get to know the women behind Lisbon's tech scene.</h1>
      </div>


      <div class="col-sm-6">
        <%= image_tag("sororidade-ilust.png", alt: "Women working on computer", :class => "sororidade-ilust") %>
      </div>
    </div>
  </div>
<!--   <div class="row">
    <div class="newsletter">
      <form>
        <div class="signup">
          <p> Sign up and we will let you know when the stories are online.</p>
        </div>
        <input type="text" value="Enter your email">
        <input type="submit" value ="Subscribe">
      </form>

    </div>
  </div> -->
</div>


<div class="actions-container">
  <div class="row">

    <div class="col-sm-4">
      <div class="action">

        <%= image_tag("inspire-icon.svg", alt: "Created by Ralf Schmitzer", :class => "icons") %>
        <div class="action-title">
          <h3> Get Inspire</h3>
        </div>
        <p>women to pursue a career in tech</p>

      </div>
    </div>

    <div class="col-sm-4">
     <%= image_tag("learn-icon.svg", alt: "Created by MRFA", :class => "icons") %>
     <div class="action-title">
       <h3>Learn</h3>
     </div>
     <p>about the Lisbon tech scene </p>
   </div>


   <div class="col-sm-4">
     <%= image_tag("connect-icon.svg", alt: "Created by Mohamed Mbarki", :class => "icons") %>
     <div class="action-title">
       <h3>Connect</h3>
     </div>
     <p>like minded women</p>
   </div>
 </div>
</div>
</div>
</div>



<div class="container">
  <div class="faq">

    <div class="row">

      <div class="col-sm-6">

        <h3>What is sororidade?</h3>
      </div>



      <div class="col-sm-6">
        <div class="column2">
          <p>Sororidade tells the stories of women working in the tech industry in Lisbon.
            We want to inspire and empower other women to consider a career in tech, and help
          build a stronger community. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>How are we telling <span class="samerow">women’s stories?</span></h3>
      </div>


      <div class="col-sm-6">
        <div class="column2">
          <p>We ask women to talk about their experiences working in tech.
            We believe that storytelling is an important and effective tool to explore deeper
          issues that shape the tech scene for women. </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">

        <h3>Who are we?</h3>
      </div>
      <div class="col-sm-6">
        <div class="column2">
          <p>Luana and Sharon. We are two women working in tech in Lisbon
          who believe in the power of role models in shaping career choices.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <h3>How can you take part?</h3>
      </div>


      <div class="col-sm-6">
        <div class="column2">
          <p>Would you like to share your story? Or do you know another woman who is interested? Please contact us.</p>
        </div>
      </div>
    </div>
  </div>
    <div class="row">
    <div class="newsletter">

      <!-- Begin Mailchimp Signup Form -->
      <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
      <style type="text/css">
        #mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
      </style>
      <div id="mc_embed_signup">
      <form action="some" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
          <div id="mc_embed_signup_scroll">
        <label for="EMAIL">Subscribe</label>
        <input type="email" value="" name="EMAIL" class="email" id="EMAIL" placeholder="email address" required>
          <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_ddb5002cc494a8cc5cdbca175_f31a3a6a0a" tabindex="-1" value=""></div>
          <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="subscribe" class="button"></div>
          </div>
      </form>
      </div>
      <!--End mc_embed_signup-->

    </div>
  </div>
</div>

