<!--
<h1>Get to know the women behind Lisbon's tech scene.</h1>
<p> Sign up and we will let you know when the stories are online.</p>

<h3>Inspire</h3>
<p>women to pursue a career in tech</p>
<h3>Educate </h3>
<p>about the Lisbon tech scene </p>
<h3>Connect</h3>
<p>like minded women</p>

<h3>What is sororidade?</h3>
<p>Sororidade tells the stories of women working in the tech industry in Lisbon.
We want to inspire and empower other women to consider a career in tech, and help
build a stronger community. </p>

<h3>How are we telling women’s stories?</h3>
<p>We ask women to talk about their experiences working in tech.
We believe that storytelling is an important and effective tool to explore deeper
issues that shape the tech scene for women. </p>

<h3>Who are we?</h3>
<p>Luana and Sharon. We are two women woking in tech in Lisbon
who believe in the power of role models in shaping career choices.</p>

<h3>How can you take part?</h3>
<p>Would you like to share your story? Or do you know another woman who is interested? Please contact us.</p>
 -->
