<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.1)), url(<%= asset_path 'banner.jpg'%>);">
  <div class="container">
    <h1>Imposter Syndrome</h1>
    <h2>Participants:</h2>
    <h2> Inês Gaspar and Zoe Goldschimidt</h2>
  </div>
</div>

