
<div class="footer">
  <div class="wrapper">
    <div class="row">
     <div class="col-sm-6">
      <div class="footer-follow">
        <p>Follow us and be notified about the next live.</p>

        <div class="footer-links">
          <a href="www.instagram/sororidade"><i class="fab fa-instagram"></i></a>
          <a href="www.youtube/sororidade"><i class="fab fa-youtube"></i></a>
          <a href="www.linkedin/sororidade"><i class="fab fa-linkedin"></i></a>
        </div>
      </div>
    </div>

    <div class="col-sm-6">
      <div class="footer-copyright">
        <p>Copyright 2020 - Sororidade. All rights Reserved.</p>
      </div>
    </div>
  </div>
</div>
</div>

