
  <div class="caixa">
    <p>
      So·ro·ri·da·de is a Portuguese word that means union and alliance between women based on empathy and sisterhood.
      At Sororidade, we believe that role models can have a major impact on shaping our career choices. Which is why we decided to dedicate our project to interviewing and sharing the stories of women working in the tech industry.

      It is our mission to raise awareness of the issues faced by women in tech, recognize the ones already making an impact, and inspire others to join.

      Inspiration comes in many ways. For us, we find it in people, sometimes it is a friend we grew up with, others the founder of a startup we read about in an article. Their stories have inspired and empowered us to create our own path in the tech world. We believe that the stories we will share can help other women do the same.

      We’re excited to invite you to listen, participate and help build a stronger community.
    </p>

  </div>

